---
layout: base.njk
title: About
permalink: /about/
---

<h1>About</h1>

<div class="author-card">
    <div class="author-image">
        <img src="/assets/images/cuteimg.webp" alt="Lê Thanh Trúc">
    </div>
    <div class="author-info">
        <h2>Lê Thanh Trúc</h2>
        <p>Tristique volutpat pulvinar vel massa, pellentesque egestas. Est viverra massa quam dignissim aenean malesuada suscipit. Nunc, volutpat pulvinar vel mass.</p>
        <div class="author-social">
            <span><i class="icon-comment"></i> commentaries</span>
            <span><i class="icon-rocket"></i> Rocketbeat</span>
            <span><i class="icon-eye"></i> 72 engagements</span>
        </div>
    </div>
</div>

<div class="about-content">
    <h2>About This Blog</h2>
    <p>Tristique volutpat pulvinar vel massa, pellentesque egestas. Est viverra massa quam dignissim aenean malesuada suscipit. Nunc, volutpat pulvinar vel mass. Tristique volutpat pulvinar vel massa, pellentesque egestas. Est viverra massa quam dignissim aenean malesuada suscipit.</p>
    
    <p>Nunc, volutpat pulvinar vel mass. Tristique volutpat pulvinar vel massa, pellentesque egestas. Est viverra massa quam dignissim aenean malesuada suscipit. Nunc, volutpat pulvinar vel mass.</p>
    
    <h2>Contact Me</h2>
    <p>You can reach me at: <a href="mailto:contact@example.com">contact@example.com</a></p>
</div>